
.instagram-tab {
    width: 550px;
    height: 24px;
    background-image: url(https://i.imgur.com/SFTlrxF.png);
    margin: auto;
    background-size: 547px;
    border-left: 1px solid rgb(17, 17, 17);
    border-top: 1px solid rgb(209, 209, 209);
    border-right: 1px solid rgb(17, 17, 17);
}

.instagram-window {
    width: 490px;
    height: auto;
    padding: 30px;
    background-color: #000000;
    margin: auto;
    font-family: Montserrat;
    border-left: 1px solid rgb(17, 17, 17);
    border-bottom: 1px solid rgb(17, 17, 17);
    border-right: 1px solid rgb(17, 17, 17);
    color: rgb(17, 17, 17);
}

.instagram-top-icon img {
    width: 122x;
    border-radius: 100%;
    position: relative;
    top: 5px;
    left: 5px;
    border: 2px solid rgb(0, 0, 0);
}

.instagram-top-icon-story { 
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-image: linear-gradient(to bottom left, #cccccc, #464646);
    position: relative;
    top: -2px;
    left: 10px;
}

.instagram-hightlight img {
    width: 55px;
    border-radius: 100%;
    position: relative;
    top: 2px;
    left: 2px;
    border: 1px solid rgb(0, 0, 0);
}

.instagram-story { 
    width: 62px;
    height: 62px;
    border-radius: 100%;
    background-image: linear-gradient(to bottom left, #cccccc, #464646);
    position: relative;
    top: -2px;
}